<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565691547794-j3efbqhtfgulifo3o1hle4dem7psnqe7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565691547794-j3efbqhtfgulifo3o1hle4dem7psnqe7</string>
	<key>API_KEY</key>
	<string>AIzaSyD5fFlrzHKKulYKOAWYCc-JYCcJVbHfu_0</string>
	<key>GCM_SENDER_ID</key>
	<string>565691547794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.herbedsauce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>herbedsauce-44d69</string>
	<key>STORAGE_BUCKET</key>
	<string>herbedsauce-44d69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565691547794:ios:610325daaaf054b9c2a64b</string>
</dict>
</plist>